#ifndef _SECRETS_H_
#define _SECRETS_H_

const char ssid[] = "";
const char pass[] = "";

const String RENOGY_BT1_MAC_ADDRESS = String("f0:f8:f2:6a:70:03"); // MAC address of Renogy BT-1

const char MQTT_SERVER_IP[] = "";
const int MQTT_SERVER_PORT = 5555;
const char MQTT_TOPIC[] = "";

#endif
